*{
    max-width: 100%;
}
body{
    text-align: center;
    font-family: 'Roboto', sans-serif;
    font-size: 15px;
    color: darkslategrey;
    margin: 0;
    padding: 0;
}
.nav{
    background: #F2F5F6;
    h1{
        font-weight: bold;
        margin: 0;
        padding: 15px 0 0 0;
    }
    #categories{
        li:first-child{
            margin: 0 20px 0 0 ;
        }
        li{
            display: inline-block;
            text-decoration: none;
            margin: 0 20px;
            padding-bottom: 5px;
        }
    }
}

.ulList{
    padding: 0;
    text-align: center;
    li{
        font-size: 13px;
        display: inline-block;
        text-decoration: none;
        padding: 2px 5px;
    }
}

.placeholder{
    margin: 0 25px;
    .img-placeholder{
        margin: 20px 20px;
        #main-img{
            width: 60%;
            margin: 0 20%;
        }
    }
}
#film-detail{
    text-align: initial;
    margin: 0 20px;
    #detail-info{
        width: 60%;
        margin: 0 20%;
    }
}

#infoFilms, #infoPeople{
    p{
        margin: 1.5px 5px;
        font-size: 15px;
        font-weight: 600;
        span{
            font-weight: 200;
        }
    }
}

#infoElse{
    margin-top: 25px;
    font-size: 15px;
    text-align: center;
    span{
        font-weight: 600;
    }
}

#films{
    padding: 0 15px;
    h3{
        text-align: initial;
    }
    .img-film{
        display: inline-block;
        width: 25%;
        img{
            width: 90%;
        }
    }
    .placeholder-film{
        position: relative;
        bottom: 38px;
        p{
            color: #fff;
            font-size: 13px;
            font-weight: 600;
            margin: 0 15px;
            text-align: end;
        }
    }
    
}
#people{
    padding: 0 15px;
    .detail-name{
        width: 20%;
        display: inline-block;
        .img-people{
            width: 90%;
        }
        .placeholder-name{
            text-align: center;
            position: relative;
            bottom: 27.5px;
            p{
                color: #fff;
                font-size: 13px;
                font-weight: 600;
                margin: 0 15px;
            }
        }
    }
}